﻿@{
    ViewData["Title"] = "Home Page";
}
<p id="Instructions" style="border-color: lightgray; border-width: 2px; align-content:center">
    <strong>Help:</strong> </br>
    Sign-in (Jquery, JWT) : Authenticate the user (Username Password not required). Without Sign-in 'Search' operation is restricted.  </br>
    Search (Jquery, AJAX, WebAPI, OOP): Send request (Ajax) selected search engine (Google, Bing). Search the text and check the Url in the search result. </br>
    Preset (Jquery): Fill the "text to search" and "Url" input as, "Online Title Search" and www.infotrack.com.au respectively </br>
    Clear (Jquery): Clears the text input </br></br>

    Google: Search on Google.</br>
    Bing: Search on Bing.</br>

    Remeber this search texts (Cookies): Restore the last search text, url.</br>

    Technologies Used: C#, .Net Core, ASP MVC Core, JQuery, Bootstrap, JWT, Ajax, WebAPI
</p>
<div class="container">
    <div class="row" style="margin-top: 10px">
        <button class="btn btn-primary" type="button" onclick="btnSignInClicked()">Sign in</button>
        <p id="token" hidden />
    </div>
</div>
    </br>
    </br>

<div class="container">
    <div class="row">
        <input type="text" id="textToSearch" name="textToSearch" style="width: 400px" placeholder="Enter text to search..." aria-label="search string" aria-describedby="basic-addon2">
        <p for="textToSearch" id="textToSearchError" style="color: red">The search text is empty.</p>
    </div>
    <div class="row" style="margin-top: 10px">
        <input type="text" id="urlToSearch" name="urlToSearch" style="width: 400px" placeholder="Enter Url to search in the result..." aria-label="search string" aria-describedby="basic-addon2">
        <p for="urlToSearch" id="urlToSearchError" style="color: red">The search Url is empty.</p>
    </div>
    <div class="row" style="margin-top: 10px" id="searchOptions">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" value="SearchOnGoogle" class="custom-control-input" checked>
        <label for="customRadioInline1">Google</label>
        <input type="radio" id="customRadioInline2" name="customRadioInline1" value="SearchOnBing" class="custom-control-input">
        <label for="customRadioInline2"> Bing</label>
    </div>
    <div class="row" style="margin-top: 10px" id="storeOption">
        <input type="checkbox" id="customControlCheck1">
        <label for="customControlCheck1">Remeber this search texts (Cookie)</label>
    </div>
    <div class="row" style="margin-top: 10px">
        <button class="btn btn-primary" type="button" onclick="btnSearchClicked()">Search</button>
        <button class="btn btn-info" type="button" onclick="btnDefaultClicked()">Preset</button>
        @*<button class="btn btn-light" type="button" onclick="btnRestoreFromCookiesClicked()">Restore (Cookie)</button>*@
        <button class="btn btn-danger" type="button" onclick="btnClearAllClicked()">Clear</button>
    </div>
</div>
    </br>
<p id="searchResult" style="border-style: solid; border-color: lightgray; border-width: 1px; align-content:center"></p>
